.navbar_bg_color {
  background-color: #3a5a40;
}

body {
  padding-top: 3.5rem;
  background-color: #344e41;
}

.text_input_bg_color,
.text_input_bg_color:focus {
  background-color: #a3b18a;
}

.button_bg_color {
  background-color: #80b918;
  color: white;
}

/* button.button_bg_color:active,
button.button_bg_color:focus,
button.button_bg_color:hover {
  background-color: #aed16c;
  color: white;
} */

.word_input_group {
  min-width: 75vw;
}

/* For images */
.home-page-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.combined-image {
  width: 80vw;
  max-width: 400px;
  max-height: 200px;
  object-fit: scale-down;
}

.c-pointer {
  cursor: pointer;
}

/* For tables */

.table-scroll {
  width: 100%;
}
.thead-scroll,
.tbody-scroll .tr-scroll {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tbody-scroll {
  display: block;
  overflow-y: auto;
  table-layout: fixed;
  max-height: 75vh;
}

/* For pagination */
.page-link {
  background-color: #b8ddcc;
  border-color: #cdf5e3;
  color: #2b9348;
}

.page-link.active {
  background-color: #2b9348;
  border-color: #2b9348;
  color: #a4eecd;
}
