.navbar_bg_color {
  background-color: #3a5a40;
}

body {
  padding-top: 3.5rem;
  background-color: #344e41;
}

.text_input_bg_color,
.text_input_bg_color:focus {
  background-color: #a3b18a;
}

/* For images */
.home-page-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.combined-image {
  width: 80vw;
  max-width: 400px;
  max-height: 200px;
  object-fit: scale-down;
}
